page-forgot-password {
    .login-content {
        .register-header {
            text-align: center;
            padding-top: 50px;
            color: #9b9b9b;
        }
        .login-box {
            padding: 20px;
            margin-top: 30px;
        }
        ion-item {
            font-size: 1em;
        }
        .signup-col {
            margin: 0px 16px 0px 16px;
            padding-bottom: 20px;
        }
        .item-inner {
            border-bottom-color: #ffffff !important;
            box-shadow: none !important;
        }
        .submit-btn {
            background: map-get($colors, primary);
            border-radius: 30px !important;
            border: 1px solid #ffffff;
        }
        .submit-btn:disabled {
            background: map-get($colors, light);
            color: map-get($colors, primary);
            border-radius: 30px !important;
            border: 1px solid #ffffff;
        }
        .submit-btn:focus {
            background: map-get($colors, light);
            color: map-get($colors, primary);
            border-radius: 30px !important;
            border: 1px solid #ffffff;
        }
    }
}