page-product-detail {
    ion-slides {
        // border: 1px solid;
        max-height: 200px;
        padding: 10px;
        margin: 10px 0;
    }
    .image-thumb {
        height: 100px;
        width: 100px;
        margin: auto;
    }
}