<ion-header>
    <ion-navbar color="eggplant">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="home" padding>
    <div *ngFor="let category of categories; let i=index;">
        <h3 (click)="onCategoryClick(category)">{{category.name}}</h3>
        <ion-slides pager loop autoplay=5000 slidesPerView=2>
            <ion-slide *ngFor="let product of category.products" (click)="onProductClick(product)">

                <div class="image-thumb">
                    <img *ngIf="product.images" src="{{product.images[0].image_url}}">
                </div>
                <p>
                    {{product.product_name}}
                    <!--<ion-icon item-left name="cart"></ion-icon>-->
                </p>
            </ion-slide>
        </ion-slides>
    </div>
</ion-content>